.lists {
    position: relative;
}

.lists > .lists-container {
    position: absolute;
    top: -20rem;
    background: linear-gradient(to bottom, transparent, rgb(0, 0, 0) 90%);
}

.row {
    color: #ffff;
    margin-left: 80px;
}

.posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.posters::-webkit-scrollbar {
    display: none;
}

.poster {
    object-fit: contain;
    max-height: 12rem;
    border-radius: 5px;
    margin-right: 10px;
    transition: transform 450ms;
}

.poster:hover {
    transform: scale(2);
}