.rows {
  width: 100%;
  margin-top: -40px;
  overflow: hidden;
  padding-bottom: 150px;
  background-color: transparent;
  z-index: 99;
  position: absolute;
}

/* Tables */
@media (min-width: 769px) and (orientation: landscape) {
  .rows {
    margin-top: -60px;
  }
}

/* Large monitors */
@media (min-width: 1500px) {
  .rows {
    margin-top: -5vh;
  }
}

/* TVs */
@media (min-width: 1900px) {
  .rows {
    margin-top: -25vh;
  }
}