.navbar-container {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    padding: 20px 40px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, transparent);
}

.navbar-container .logo {
    width: 100px;
    margin-right: 40px;
}

.navbar-container > .logo:hover {
    cursor: pointer;
}

.navbar-container > .button-tertiary {
    background: none;
    color: rgb(230, 230, 230);
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    padding: 0px;
    margin: 5px 10px;
    transition: color 100ms linear;
}

.navbar-container > .button-tertiary:hover {
    color: rgb(150, 150, 150);
    cursor: pointer;
}

.navbar-container > .button-tertiary-active {
    font-weight: 500;
    color: #ffff;
}

.navbar-container > .button-tertiary-active:hover {
    color: #ffff;
    cursor: unset;
}

.navbar-container > svg {
    color: #ffff;
    margin: 0px 10px;
}

.navbar-container > .profile-image {
    width: 32px;
    height: 32px;
}