.poster {
  object-fit: cover;
  width: 110px;
  height: 180px;
  max-height: 12rem;
  border-radius: 5px;
  margin-right: 10px;
}

/* Tables */
@media (min-width: 769px) and (orientation: landscape) {
  .poster {
    max-height: 12rem;
    border-radius: 5px;
    margin-right: 10px;
  }
}

/* Laptops */
@media (min-width: 769px) {
  .poster {
    width: 350px;
    transition: transform 450ms;
  }

  .poster:hover {
    position: relative;
    transform: scale(1.8);
  }
}
